#dataTable {
    padding: 1rem;
    padding-top: 1rem;
}

#tableFilters {
    padding-left: 1rem;
    padding-top: 1rem;
}

#tableSearch {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: auto;
}

hr {
    margin-left: 0rem;
    margin-right: 1rem;
}