a {
    text-decoration: none;
    color: #ffffff;
}

#alertNotification {
    display: none;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

#saveButtonsField {
    padding-top: 1rem;
}

#dataTable {
    padding: 1rem;
    padding-top: 1rem;
}

#tableFilters {
    padding-left: 1rem;
    padding-top: 1rem;
}

#checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#tableSearch {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: auto;
}

#axesValues {
    margin-top: 1rem;
}

#chartContainer {
    height: 50vh; 
    width: 70vw;
    margin-top: 1rem;
    margin-left: 1rem;
}

hr {
    margin-left: 0rem;
    margin-right: 1rem;
}

tr:hover {
    background-color: #0d6efd;
}

.form-check {
    width: 150px;
    height: 40px;
}

.row-selected-problems {
    background-color: #0d6efd;
    color: #ffffff;
}