.navbar-brand {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#alertNotification {
    display: none;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

#buttonContainer,
#solverAndProblemsHeader,
#tableFilters {
    margin-left: 1rem;
}

#instancedataInput {
    margin-top: 1rem;
    width: 20rem;
}

#dataTable, #statisticsTable {
    padding: 1rem;
    padding-top: 1rem;
}

#tableFilters {
    padding-left: 1rem;
    padding-top: 1rem;
}

#checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#axesValues {
    margin-top: 1rem;
}

#chartContainer {
    height: auto; 
    width: auto;
    margin-left: 1rem;
}

hr {
    margin-left: 1rem;
    margin-right: 1rem;
}

table.dataTable tr.odd {
    background-color: #cccccc;
}

table.dataTable tr.odd .sorting_1 {
    background-color: #cccccc;
}

.form-check {
    width: 150px;
    height: 40px;
}

tr.even.bg-primary.row-selected-problems,
tr.odd.bg-primary.row-selected-problems,
tr.even.bg-primary.row-selected-problems td.sorting_1.dtfc-fixed-left,
tr.odd.bg-primary.row-selected-problems td.sorting_1.dtfc-fixed-left,
tr.odd.bg-primary.row-selected-problems th.sorting_1.dtfc-fixed-left,
tr.even.bg-primary.row-selected-problems th.sorting_1.dtfc-fixed-left {
    background-color: #0d6efd;
    color: #ffffff;
    font-weight: bold;
}
