#dataTable {
    padding: 1rem;
    padding-top: 1rem;
}

#tableFilters {
    padding-left: 1rem;
    padding-top: 1rem;
}

#tableSearch {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: auto;
}

#chartContainer {
    height: 50vh; 
    width: 70vw;
    margin-top: 1rem;
    margin-left: 1rem;
}

hr {
    margin-left: 0rem;
    margin-right: 1rem;
}

tr:hover {
    background-color: rgb(151, 151, 151);
}