body > :not(nav, hr) {
	opacity: 0;
	visibility: visible;
	transition: opacity 0.5s;
}

@media (max-width: 1250px) {
	.dt-buttons button {
		margin-bottom: 5px;
	}
}

@media (max-width: 1399px) {
	#librarySelectorGroup {
		margin-top: 0.5rem;
		margin-left: 0px;
	}
  }

@media (min-width: 1400px) {
    #librarySelectorGroup {
        margin-left: 10px;
		/* The UL on the right side in the navbar is not pushed away with margin. */
		padding-right: 10px;
    }
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

#alertNotification {
	display: none;
	width: auto;
	margin-left: 1rem;
	margin-right: 1rem;
}

#buttonContainer {
	margin-left: 1rem;
	margin-top: 0.5rem;
}

#chartContainer {
    height: auto;
    width: 95%;
    max-width: 95vw;
    min-height: 500px;
    margin-left: 1rem;
	margin-right: 1rem;
	overflow: hidden;
}

#comparisonTable {
	visibility: visible;
	padding: 1rem;
	padding-top: 1rem;
}

#dataTable {
	visibility: hidden;
	padding: 1rem;
	padding-top: 0rem;
}

.pagination {
	margin-left: 1rem;
    margin-right: 1rem;
}

#librarySelectorGroup {
	flex-wrap: nowrap;
	min-width: 170px;
	max-width: 500px;
}

#loaderContainer {
	display: none;
}

#solverOptions {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 100vw;
  }

#statisticsTable {
	visibility: visible;
	padding: 1rem;
	padding-top: 1rem;
}

#uploadFileGroup {
	white-space: nowrap;
	flex-wrap: nowrap;
	min-width: 350px;
	max-width: 500px;
}

.form-check {
	width: 150px;
	height: 40px;
}

.loader {
	margin-top: 1rem;
	border: 16px solid #ccc;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 80px;
	height: 80px;
	animation: spinner 2s linear infinite;
}

.nav-link {
    white-space: nowrap;
}

.navbar-brand {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
		"Lucida Sans", sans-serif;
}

.vertical-separator {
	border-left: 1px solid #ccc;
	height: auto;
	margin: 0 5px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

hr {
	margin-left: 1rem;
	margin-right: 1rem;
	opacity: 0;
	visibility: visible;
	transition: opacity 1s;
}

table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable td:first-child {
	border-left-width: 0px;
}

tbody tr.even td.dtfc-fixed-left {
	background-color: #f2f2f2 !important;
}

tbody tr.odd td.dtfc-fixed-left {
	background-color: #d9d9d9 !important;
}

tr.even td,
tr.even th {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

tr.odd td,
tr.odd th {
	background-color: rgba(0, 0, 0, 0.15) !important;
}

tr.even.bg-primary.row-selected-problems,
tr.odd.bg-primary.row-selected-problems {
	background-color: #0d6efd;
	color: #ffffff;
	font-weight: bold;
}

tr.even.bg-primary.row-selected-problems td,
tr.odd.bg-primary.row-selected-problems td,
tr.even.bg-primary.row-selected-problems th,
tr.odd.bg-primary.row-selected-problems th,
tr.even.bg-primary.row-selected-problems td.dtfc-fixed-left.sorting_1,
tr.even.bg-primary.row-selected-problems th.dtfc-fixed-left.sorting_1,
tr.odd.bg-primary.row-selected-problems td.dtfc-fixed-left.sorting_1,
tr.odd.bg-primary.row-selected-problems th.dtfc-fixed-left.sorting_1 {
	background-color: #0d6efd !important;
	color: #ffffff;
	font-weight: bold;
}
